<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="hokuyo_ust-10lx_mount" params="prefix topic location sim_ignition:=false tf_prefix:=rbkk3/">

    <joint name="${prefix}_laser_joint" type="fixed">
      <origin xyz="${location * 0.3932} 0 0.2330" rpy="0 0 ${PI/2 - (location * PI/2)}" />
      <parent link="chassis_link" />
      <child link="${prefix}_laser" />
    </joint>

    <link name="${prefix}_laser">
      <inertial>
        <mass value="0.130" />
        <origin xyz="0 0 0" />
        <inertia ixx="${0.0833333 * 0.130 * (0.05*0.05 + 0.07*0.07)}" ixy="0.0" ixz="0.0"
          iyy="${0.0833333 * 0.130 * (0.05*0.05 + 0.07*0.07)}" iyz="0.0"
          izz="${0.0833333 * 0.130 * (0.05*0.05 + 0.05*0.05)}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the focal point of the LIDAR. -->
          <mesh filename="package://ridgeback_description/meshes/ust-10lx.stl" />
        </geometry>
        <material name="dark_grey" />
      </visual>
      <collision>
        <origin xyz="0 0 -0.0122" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.07" />
        </geometry>
      </collision>
    </link>

    <!-- Ignition reference -->
    <xacro:if value="${sim_ignition}">
      <gazebo reference="${prefix}_laser">
        <sensor name="${prefix}_laser_sensor" type="gpu_lidar">
          <update_rate>50</update_rate>
          <visualize>true</visualize>
          <always_on>true</always_on>
          <ignition_frame_id>${tf_prefix}${prefix}_laser</ignition_frame_id>
          <lidar>
            <scan>
              <horizontal>
                <samples>720</samples>
                <resolution>1</resolution>
                <min_angle>-2.35619</min_angle>
                <max_angle>2.35619</max_angle>
              </horizontal>
              <vertical>
                <samples>1</samples>
                <resolution>1</resolution>
                <min_angle>0</min_angle>
                <max_angle>0</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.20</min>
              <max>10</max>
              <resolution>0.01</resolution>
            </range>
          </lidar>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
