<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rbkk3">
    <xacro:arg name="name" default="rbkk3"/>
    <xacro:arg name="use_prefix" default="true"/>
    <!--xacro:arg name="namespace" default="/"/-->

    <xacro:if value="$(arg use_prefix)">
        <xacro:property name="prefix" value="$(arg name)/"/>
        <xacro:property name="cm_namespace" value="$(arg name)"/>
    </xacro:if>
    <xacro:unless value="$(arg use_prefix)">
        <xacro:property name="prefix" value=""/>
        <xacro:property name="cm_namespace" value="/"/>
    </xacro:unless>

    <xacro:arg name="sim_ignition" default="false" />
    <xacro:arg name="simulation_controllers" default="$(find rbkk3_description)/config/$(arg name)_controllers.yaml" />

    <!-- Platform -->
    <xacro:arg name="platform_prefix" default="platform/"/>
    <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback_model.xacro" ns="rb"/>
    <xacro:rb.load_platform prefix="${prefix}$(arg platform_prefix)" sim_ignition="$(arg sim_ignition)"/>

    <!-- Arm -->
    <xacro:arg name="arm_prefix" default="arm/"/>
    <xacro:include filename="$(find rbkk3_description)/urdf/rbkk3_arm.xacro" ns="kk"/>
    <xacro:kk.load_robot
        parent="${prefix}rbkk3_integration_link"
        arm="$(arg arm)"
        gripper="$(arg gripper)"
        gripper_joint_name="$(arg gripper_joint_name)"
        gripper_max_velocity="$(arg gripper_max_velocity)"
        gripper_max_force="$(arg gripper_max_force)"
        dof="$(arg dof)"
        vision="$(arg vision)"
        robot_ip="$(arg robot_ip)"
        username="$(arg username)"
        password="$(arg password)"
        port="$(arg port)"
        port_realtime="$(arg port_realtime)"
        session_inactivity_timeout_ms="$(arg session_inactivity_timeout_ms)"
        connection_inactivity_timeout_ms="$(arg connection_inactivity_timeout_ms)"
        use_internal_bus_gripper_comm="$(arg use_internal_bus_gripper_comm)"
        prefix="${prefix}$(arg arm_prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        sim_gazebo="$(arg sim_gazebo)"
        sim_ignition="$(arg sim_ignition)"
        sim_isaac="$(arg sim_isaac)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}"
        use_velocity_command_interfaces="$(arg use_velocity_command_interfaces)"
        use_effort_command_interfaces="$(arg use_effort_command_interfaces)"
        >
        <origin xyz="0 0 0.015" rpy="0 0 0"/>  <!-- position robot in the parent -->
    </xacro:kk.load_robot>

    <!-- Integration Plate -->
    <link name="${prefix}rbkk3_integration_link">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.1 0.1 0.03" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>
    <joint name="${prefix}rbkk3_integration_platform_joint" type="fixed">
        <origin xyz="0.25 0 0.0" rpy="0 0 0"/>
        <parent link="${prefix}$(arg platform_prefix)mid_mount"/>
        <child link="${prefix}rbkk3_integration_link"/>
    </joint>

    <!-- Controller Manager Spawner for Ignition -->
    <xacro:if value="$(arg sim_ignition)">
        <gazebo>
            <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(arg simulation_controllers)</parameters>
                <ros>
                    <namespace>${cm_namespace}</namespace>
                </ros>
            </plugin>
            <!--plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors">
                <render_engine>$(arg gazebo_renderer)</render_engine>
            </plugin-->
        </gazebo>
    </xacro:if>
</robot>
